body {
    background-color: black;
    background-image: url(storm.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20%;
}
img {
    width: 300px;
    height: 300px;
}
.item {
    margin: 0 15px;
    border: 5px solid blueviolet;
    border-radius: 10px;
}
.txt {
    text-align: center;
    font: sans-serif;
    font-size: 30px;
    color: blueviolet;
}