body, html {
    background-color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding-bottom: 5px;
    position: absolute;
	display: flex;
	flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 15px;
}

.product-card {
	background-color: #121212;
	border-radius: 6px;
    color: white;
}

.product-card__preview {
	width: 300px;
    height: 300px;
    border-radius: 6px;
}

.product-card__header {
    padding: 0 10px;
}