.items {
    height: 98vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 30px;
}

.card__image {
    width: 70%;
    height: 35%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.card__image > img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
}

.card__name, .card__description {
    font-family: Arial, Helvetica, sans-serif;
}

.card__name {
    text-align: center;
    margin-bottom: 0px;
}

.card__description {
    margin: 16px;
    margin-top: 5px;
    font-size: 12pt;
    text-align: center;
}