.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 15px;
    height: 95vh;
}

.container__content {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    width: 300px;
    box-shadow: 0px 0px 15px 0px rgb(252, 111, 233);
    border-radius: 20px;
    padding: 20px;
}

h2 {
    font-weight: 100;
    font-size: 30px;
}

img {
    width: 70%;
}