* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    height: 100vh;
}

.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 300px;
}

.photo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.photo .text-under-photo {
    margin: 10px 0px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}