body {
    background: #799ee4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.game {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.card {
    background-color: white;
    text-decoration: none;
    color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card_image img {
    width: 225px;
    height: 320px;
}

.card_title {
    font-size: 24px;
    margin: 10px;
    font-weight: bold;
} 
